h1 {
    color: red;
}

/* id uses # and class uses .  */
/* h1 , heading-2 , heading are known as selectors */

#heading-2{
    color: blue;
}

.heading{
    color: chartreuse;
}

.para{
    border: 2px; 
    border-color: rgb(215, 170, 24);
    border-style: solid;
    padding: 20px;
    text-align: center;
}

.navbar{
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 15px;
    background-color: pink;
    text-align: center;
}

.navbar a{
    color: black;
    padding: 15px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgb(224, 182, 189);
    color :blue
}

body{
    margin: 0px;
    
}